[data-theme="wasp"] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family:
		ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.17% 0.02 75.85deg);
	--color-primary-100: oklch(90.7% 0.06 62.16deg);
	--color-primary-200: oklch(84.39% 0.1 57.16deg);
	--color-primary-300: oklch(78.77% 0.14 54deg);
	--color-primary-400: oklch(73.65% 0.18 49.65deg);
	--color-primary-500: oklch(69.58% 0.2 43.49deg);
	--color-primary-600: oklch(61.03% 0.18 44.28deg);
	--color-primary-700: oklch(52.17% 0.15 45.48deg);
	--color-primary-800: oklch(43.25% 0.12 47.85deg);
	--color-primary-900: oklch(33.55% 0.09 52.07deg);
	--color-primary-950: oklch(23.2% 0.05 64.01deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(96.6% 0.03 76.79deg);
	--color-secondary-100: oklch(92.47% 0.07 80.01deg);
	--color-secondary-200: oklch(88.56% 0.11 80.07deg);
	--color-secondary-300: oklch(85.04% 0.14 78.26deg);
	--color-secondary-400: oklch(81.73% 0.16 75.03deg);
	--color-secondary-500: oklch(78.74% 0.17 69.11deg);
	--color-secondary-600: oklch(71.81% 0.16 70.45deg);
	--color-secondary-700: oklch(64.7% 0.14 72.19deg);
	--color-secondary-800: oklch(57.21% 0.12 73.75deg);
	--color-secondary-900: oklch(49.68% 0.1 76.95deg);
	--color-secondary-950: oklch(41.87% 0.09 81.84deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.72% 0.05 107.26deg);
	--color-tertiary-100: oklch(95.65% 0.09 100.41deg);
	--color-tertiary-200: oklch(92.79% 0.13 97.56deg);
	--color-tertiary-300: oklch(90.42% 0.15 95.39deg);
	--color-tertiary-400: oklch(87.99% 0.17 92.56deg);
	--color-tertiary-500: oklch(85.75% 0.18 88.48deg);
	--color-tertiary-600: oklch(78.48% 0.16 89.05deg);
	--color-tertiary-700: oklch(70.94% 0.14 90.26deg);
	--color-tertiary-800: oklch(63.3% 0.13 91.28deg);
	--color-tertiary-900: oklch(55.31% 0.11 93.33deg);
	--color-tertiary-950: oklch(47.15% 0.1 95.46deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.44% 0.09 126.09deg);
	--color-success-100: oklch(94.74% 0.14 126.81deg);
	--color-success-200: oklch(93.27% 0.18 127.8deg);
	--color-success-300: oklch(92.03% 0.21 129.11deg);
	--color-success-400: oklch(91% 0.24 130.68deg);
	--color-success-500: oklch(90.17% 0.25 132.59deg);
	--color-success-600: oklch(81.18% 0.23 132.68deg);
	--color-success-700: oklch(71.68% 0.2 132.67deg);
	--color-success-800: oklch(62.07% 0.18 133.04deg);
	--color-success-900: oklch(51.85% 0.15 133.12deg);
	--color-success-950: oklch(41.38% 0.12 133.48deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(94.25% 0.08 174.06deg);
	--color-warning-100: oklch(93.19% 0.1 180.96deg);
	--color-warning-200: oklch(92.32% 0.11 185.56deg);
	--color-warning-300: oklch(91.88% 0.12 188.3deg);
	--color-warning-400: oklch(91.36% 0.14 190.99deg);
	--color-warning-500: oklch(91.02% 0.14 193.28deg);
	--color-warning-600: oklch(81.25% 0.13 195.55deg);
	--color-warning-700: oklch(71.21% 0.11 198.67deg);
	--color-warning-800: oklch(60.48% 0.1 203.21deg);
	--color-warning-900: oklch(49.6% 0.08 210.23deg);
	--color-warning-950: oklch(38.08% 0.06 221.7deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.13% 0.05 14.75deg);
	--color-error-100: oklch(84.3% 0.09 17.28deg);
	--color-error-200: oklch(78.13% 0.13 19.8deg);
	--color-error-300: oklch(72.54% 0.17 21.82deg);
	--color-error-400: oklch(68.1% 0.21 24.51deg);
	--color-error-500: oklch(64.89% 0.24 26.97deg);
	--color-error-600: oklch(59.16% 0.22 27.05deg);
	--color-error-700: oklch(53.28% 0.2 27.15deg);
	--color-error-800: oklch(47.43% 0.18 27.29deg);
	--color-error-900: oklch(41.21% 0.15 27.46deg);
	--color-error-950: oklch(34.75% 0.13 27.7deg);
	--color-error-contrast-dark: 0 0 0;
	--color-error-contrast-light: 255 255 255;
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(99.01% 0.02 95.17deg);
	--color-surface-100: oklch(87.26% 0.01 92.95deg);
	--color-surface-200: oklch(75.31% 0.01 96.42deg);
	--color-surface-300: oklch(62.75% 0.01 84.55deg);
	--color-surface-400: oklch(49.64% 0.01 88.65deg);
	--color-surface-500: oklch(35.33% 0.01 78.24deg);
	--color-surface-600: oklch(32.64% 0 67.68deg);
	--color-surface-700: oklch(30.15% 0 84.54deg);
	--color-surface-800: oklch(27.41% 0 67.64deg);
	--color-surface-900: oklch(24.81% 0 84.55deg);
	--color-surface-950: oklch(21.85% 0 67.71deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
