@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
